
.item-description{
    display: flex;
}
.name{
    padding-left: 30px;
    background-color: #c040f7bb;
    display: flex;
    gap:550px;
    border-radius: 20px;

}
.boxer{
    font-size: large;
}
body{
    background-color: #81e2ffbb;
}
img{
    border: 5px solid #c040f7;
    border-radius: 10px;
}

