{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styling.css'%}" />

    <title>Document</title>
  </head>
  <body>
    
    <div class="name">
        <h1 ><a href="javascript:void(0);" onclick="goBack()"><i class="fas fa-chevron-circle-left"></i></a></h1>
        <h1 id="item-title">Item Title</h1>
    </div>
    <hr>
    <hr>
    <div class="item-description"  id="PS-5 Slim Version" style="display: none;">
      <div class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item</h2></strong>
          <li>
            <b>Slim Design:</b> With PS5, players get powerful gaming technology
            packed inside a sleek and compact console design.
          </li>
          <br />
          <li>
            <b>1TB of Storage:</b>Keep your favorite games ready and waiting for
            you to jump in and play with 1TB of SSD storage built in.
          </li>
          <br />
          <li>
            <b>Ultra-High Speed SSD:</b> Maximize your play sessions with near
            instant load times for installed PS5 games.
          </li>
          <br />
          <li>
            <b>Integrated I/O:</b> The custom integration of the PS5 console's
            systems lets creators pull data from the SSD so quickly that they
            can design games in ways never before possible.
          </li>
          <br />
          <li>
            <b>Ray Tracing:</b> Immerse yourself in worlds with a new level of
            realism as rays of light are individually simulated, creating
            true-to-life shadows and reflections in supported PS5 games.
          </li>
          <br />
          <li>
            <b>4K-TV Gaming:</b> your favorite PS5 games on your stunning 4K TV.
          </li>
          <br />
          <li>
            <b>Up to 120fps with 120Hz output:</b> Enjoy smooth and fluid high
            frame rate gameplay at up to 120fps for compatible games, with
            support for 120Hz output on 4K displays.
          </li>
          <br />
          <li>
            <b>HDR Technology:</b> With an HDR TV, supported PS5 games display
            an unbelievably vibrant and lifelike range of colors.
          </li>
          <br />
          <li>
            <b>Tempest 3D AudioTech:</b> Immerse yourself in soundscapes where
            it feels as if the sound comes from every direction. Your
            surroundings truly come alive with Tempest 3D AudioTech in supported
            games.
          </li>
          <br />
          <li>
            <b>Haptic Feedback:</b> Experience haptic feedback via the DualSense
            wireless controller in select PS5 titles and feel the effects and
            impact of your in-game actions through dynamic sensory feedback.
          </li>
          <br />
          <li>
            <b> Adaptive Triggers:</b> Get to grips with immersive adaptive
            triggers, featuring dynamic resistance levels which simulate the
            physical impact of in-game activities in select PS5 games.
          </li>
          <br />
          <li>
            <b>Includes ASTRO’S:</b> Playroom Explore four worlds, each one
            showcasing innovative gameplay using the versatile features of the
            DualSense wireless controller, in this game included for all PS5
            console users.
          </li>
        </p>
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <div class="item-description" id="PS-5 Pro Version" style="display: none;">
      <div  class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item</h2></strong>
          <li>
            <b>Powerful Performance:</b> Experience the enhanced power of PS5 Pro for next-gen gaming with superior graphics and frame rates.
          </li>
          <br />
          <li>
            <b>1.5TB Storage:</b> Store all your games, apps, and media with a massive 1.5TB SSD for faster access and boot times.
          </li>
          <br />
          <li>
            <b>Enhanced Ray Tracing:</b> Improved real-time ray tracing for more accurate lighting and reflections in supported games.
          </li>
          <br />
          <li>
            <b>4K Gaming at 120fps:</b> Enjoy ultra-smooth gameplay with 120fps support on 4K displays for select titles.
          </li>
          <br />
          <li>
            <b>8K Ready:</b> Prepare for the future of gaming with 8K resolution support in select upcoming games.
          </li>
          <br />
          <li>
            <b>Advanced Cooling System:</b> The new cooling technology ensures peak performance without overheating.
          </li>
          <br />
          <li>
            <b>Improved VR Support:</b> Enhanced compatibility with PS VR games and next-gen VR experiences.
          </li>
          <br />
          <li>
            <b>Supercharged I/O:</b> Even faster data transfer with improved custom integration of the SSD and I/O system.
          </li>
          <br />
          <li>
            <b>Adaptive Triggers & Haptic Feedback:</b> Feel more dynamic physical sensations with adaptive triggers and improved haptic feedback.
          </li>
          <br />
          <li>
            <b>Dolby Atmos Support:</b> Experience immersive sound with Dolby Atmos in supported games and media.
          </li>
          <br />
        </p>
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <div class="item-description" id="PS-5 Normal Version" style="display: none;">
      <div  class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item - PS5 Standard</h2></strong>
          <li>
            <b>Ultra-Speed SSD:</b> Near-instant load times with the PS5’s custom SSD and integrated I/O system.
          </li>
          <br />
          <li>
            <b>Ray Tracing:</b> Experience life-like visuals with ray tracing that simulates true-to-life lighting and reflections.
          </li>
          <br />
          <li>
            <b>Up to 120fps:</b> Play supported PS5 games at high frame rates, delivering super-smooth gameplay.
          </li>
          <br />
          <li>
            <b>4K-TV Gaming:</b> Enjoy your games on stunning 4K displays with vibrant visuals.
          </li>
          <br />
          <li>
            <b>HDR Technology:</b> Colors come to life in supported PS5 games when paired with an HDR TV.
          </li>
          <br />
          <li>
            <b>3D AudioTech:</b> Get deeply immersed in 3D soundscapes where sound comes from all directions.
          </li>
          <br />
          <li>
            <b>Game Boost:</b> Enjoy faster frame rates and higher-quality visuals on select PS4 and PS5 games.
          </li>
          <br />
          <li>
            <b>Custom CPU and GPU:</b> The PS5’s custom CPU, GPU, and SSD offer seamless, lag-free gaming experiences.
          </li>
          <br />
          <li>
            <b>DualSense Controller:</b> Feel in-game actions and the environment through the enhanced haptic feedback and adaptive triggers.
          </li>
          <br />
          <li>
            <b>Backwards Compatibility:</b> Play a wide selection of PS4 games on your PS5 console.
          </li>
          <br />
        </p>        
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <div class="item-description" id="PS-4 Pro Version" style="display: none;">
      <div  class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item - PS4 Pro</h2></strong>
          <li>
            <b>4K-TV Gaming:</b> Enjoy spectacular clarity and vivid detail in 4K gaming with the PS4 Pro.
          </li>
          <br />
          <li>
            <b>Faster Frame Rates:</b> Play with smoother frame rates in certain PS4 Pro enhanced titles.
          </li>
          <br />
          <li>
            <b>HDR Technology:</b> Enjoy enhanced color and detail with HDR technology in supported games.
          </li>
          <br />
          <li>
            <b>Boost Mode:</b> Boosts the frame rate and graphics performance in select PS4 games.
          </li>
          <br />
          <li>
            <b>1TB Storage:</b> Store your favorite games, apps, and media with 1TB of built-in storage.
          </li>
          <br />
          <li>
            <b>High-Resolution Graphics:</b> Graphics become sharper and more detailed on a 4K display.
          </li>
          <br />
          <li>
            <b>PS VR Compatible:</b> Experience VR gaming in stunning detail and clarity.
          </li>
          <br />
          <li>
            <b>Remote Play:</b> Play your PS4 games remotely on supported devices, including your PC or mobile.
          </li>
          <br />
          <li>
            <b>Stream 4K Entertainment:</b> Stream movies and TV shows in 4K from your favorite streaming platforms.
          </li>
          <br />
          <li>
            <b>Improved Multiplayer:</b> Experience faster, smoother multiplayer experiences in select games.
          </li>
          <br />
        </p>        
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <div class="item-description" id="PS-4 Slim Version" style="display: none;">
      <div  class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item - PS4 Slim</h2></strong>
          <li>
            <b>Compact Design:</b> The PS4 Slim packs powerful performance in a smaller and sleeker design.
          </li>
          <br />
          <li>
            <b>HDR Compatibility:</b> Supported games display enhanced color and clarity with HDR on HDR-compatible TVs.
          </li>
          <br />
          <li>
            <b>1TB Storage:</b> Store more games, apps, and media with 1TB of storage.
          </li>
          <br />
          <li>
            <b>Efficient Power Usage:</b> The PS4 Slim is designed to be more power-efficient than the original PS4.
          </li>
          <br />
          <li>
            <b>Smooth Gameplay:</b> Enjoy smooth gameplay in 1080p on most PS4 games.
          </li>
          <br />
          <li>
            <b>PS VR Ready:</b> The PS4 Slim is fully compatible with the PlayStation VR system.
          </li>
          <br />
          <li>
            <b>Quick Navigation:</b> Seamlessly navigate through your games and apps with the responsive interface.
          </li>
          <br />
          <li>
            <b>Remote Play:</b> Stream your games to a range of supported devices over Wi-Fi.
          </li>
          <br />
          <li>
            <b>Vibrant Visuals:</b> The PS4 Slim supports a wide range of colors for vibrant game worlds.
          </li>
          <br />
          <li>
            <b>Quiet Performance:</b> The slim design incorporates quieter fan technology for less noise during gaming sessions.
          </li>
          <br />
        </p>        
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <div class="item-description" id="PS-4 Normal Version" style="display: none;">
      <div  class="boxer" style=" width: 1100px;">
        <p>
          <strong><h2>About this item - PS4 Standard</h2></strong>
          <li>
            <b>Full HD Gaming:</b> Enjoy Full HD 1080p gaming on all your favorite PS4 titles.
          </li>
          <br />
          <li>
            <b>1TB Storage:</b> Save games, apps, and media with 1TB of built-in storage.
          </li>
          <br />
          <li>
            <b>HDR Support:</b> Experience improved color depth and detail with HDR-enabled games and media.
          </li>
          <br />
          <li>
            <b>DualShock 4 Controller:</b> The responsive, ergonomic controller offers haptic feedback and a touchpad for dynamic gameplay.
          </li>
          <br />
          <li>
            <b>Exclusive Games:</b> Play a range of PS4-exclusive games, such as *The Last of Us Part II* and *Spider-Man*.
          </li>
          <br />
          <li>
            <b>Remote Play:</b> Stream your PS4 games to a compatible device, like a smartphone or PC.
          </li>
          <br />
          <li>
            <b>PS VR Compatible:</b> The PS4 is compatible with PlayStation VR for immersive virtual reality experiences.
          </li>
          <br />
          <li>
            <b>Share Play:</b> Play co-op games with a friend by streaming the gameplay directly to them, even if they don't own the game.
          </li>
          <br />
          <li>
            <b>Entertainment Hub:</b> Access a variety of streaming services, including Netflix, Hulu, and more, right from your console.
          </li>
          <br />
          <li>
            <b>Multiplayer Gaming:</b> Connect with friends online for exciting multiplayer experiences across a wide selection of games.
          </li>
          <br />
        </p>        
        <br />
      </div>
      <div class="box1">
      <div class="containering">
        <img src="{% static 'ps5_slim1.jpg'%}" style="height: 350px; width: 350px;" />
      </div>
      <div class="containering">
        <img src="{% static 'ps5_slim2.jpg'%}"  style="height: 350px; width: 350px;"/>
      </div>
      </div>
    </div>

    <script>
        function goBack() {
          window.history.back();
        }
        function displayItem() {
        const params = new URLSearchParams(window.location.search);
        const itemName = params.get('name');  // Get the item name from the query parameter
        const itemTitle = document.getElementById('item-title');

        // Hide all item descriptions initially
        document.querySelectorAll('.item-description').forEach(container => {
            container.style.display = 'none';  // Ensure we only hide the inner divs
        });

        // Show the container based on the item name
        const itemDiv = document.getElementById(itemName);
        if (itemDiv) {
            itemDiv.style.display = 'flex';  // Show the relevant item
            itemTitle.innerText = itemName;   // Set the item title
        } else {
            console.warn('Item not found: ', itemName); // Handle case where item is not found
        }
    }

    // Call displayItem when the page loads
    window.onload = displayItem;
      </script>
  </body>
</html>
